@import "tailwindcss";

:root {
    --primary: #22C55E;
    --primary-light: #D1FADF;
    --primary-dark: #16A34A;
    --secondary: #6FAFB2;
    --secondary-light: #E1F5F5;
    --secondary-dark: #529496;
    --faded: rgba(113, 113, 122, 0.2);
    --error: rgb(228, 3, 3);
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-dark: var(--primary-dark);
    --color-secondary: var(--secondary);
    --color-secondary-light: var(--secondary-light);
    --color-secondary-dark: var(--secondary-dark);
    --color-faded: var(--faded);
    --color-error: var(--error);
}

.input-error {
    border: 1px solid var(--error);
    border-radius: 11px;
    margin-bottom: 0;
}